.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  color: var(--color-text-2);

  margin-top: auto;
  /* position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); */
}